[submodule "themes/hugo-xmin"]
	path = themes/hugo-xmin
	url = https://github.com/yihui/hugo-xmin.git
[submodule "themes/hugo-xmin2"]
        path = themes/hugo-xmin2
        url = https://github.com/yihui/hugo-xmin.git
[submodule "themes/hugo-classic"]
	path = themes/hugo-classic
	url = https://github.com/goodroot/hugo-classic.git
[submodule "themes/tuftesque"]
	path = themes/tuftesque
	url = https://github.com/nstrayer/tuftesque
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo
